.home-page header{
    background-image:url(../../images/homeimg.jpg);
}
header{
    background-size: cover;
    background-position: center;
}

header h1,
header h2{
    font-size: 4rem;
}

.section-page1 .menfootwear{
    background-image:url(../../images/men.jpg);
    width: 50%;
    height: 80vh;
}
.section-page1 .womenfootwear{
    background-image:url(../../images/women.jpg);
    width: 50%;
    height: 80vh;
}


/* .home-page header h1,
.home-page header h2{
    text-shadow: 1px 1px 5px #ffffff;
} */